<div class="sidebar">

  <h3 class="sidebar-title">CoolRestaurant</h3>

  <div class="sidebar-options">

    <div class="option active">
      <i class="fas fa-igloo"></i>
      <h4>Dashboard</h4>
    </div>

    <div class="option">
      <i class="fas fa-shopping-bag"></i>
      <h4>Órdenes</h4>
    </div>

    <div class="option">
      <i class="fas fa-male"></i>
      <h4>Clientes</h4>
    </div>

    <div class="option">
      <i class="fas fa-box"></i>
      <h4>Inventario</h4>
    </div>

  </div> <!-- Sidebar options -->
</div> <!-- Sidebar -->
